
//
// Black gray 
$NIKE-Collaboration-1-hex: #F2F2F2;
$NIKE-Collaboration-2-hex: #BFBFBF;
$NIKE-Collaboration-3-hex: #8C8C8C;
$NIKE-Collaboration-4-hex: #3F3F3F;
$NIKE-Collaboration-5-hex: #0C0C0C;

// Blue green 
$Wonderful-lagoon-around-a-maldivian-island-1-hex: #A6CAD8;
$Wonderful-lagoon-around-a-maldivian-island-2-hex: #02738C;
$Wonderful-lagoon-around-a-maldivian-island-3-hex: #3B9BA5;
$Wonderful-lagoon-around-a-maldivian-island-4-hex: #6CD8BA;
$Wonderful-lagoon-around-a-maldivian-island-5-hex: #BCF2D9;

// Orange Theme 
$Flavour-1-hex: #F2BA13;
$Flavour-2-hex: #F28B0E;
$Flavour-3-hex: #D8A477;
$Flavour-4-hex: #A51B0E;
$Flavour-5-hex: #F2F2F2;

//Green Theme 
$Travel-1-hex: #223F21;
$Travel-2-hex: #5F8C4A;
$Travel-3-hex: #58724C;
$Travel-4-hex: #343F2D;
$Travel-5-hex: #592C21;

// Blue red 
$Smiling-happy-woman-with-travel-suitcase-1-hex: #BF0313;
$Smiling-happy-woman-with-travel-suitcase-2-hex: #72020B;
$Smiling-happy-woman-with-travel-suitcase-3-hex: #044AA5;
$Smiling-happy-woman-with-travel-suitcase-4-hex: #116EBF;
$Smiling-happy-woman-with-travel-suitcase-5-hex: #AFB8BF;

// black red orange Theme Swatches in Hex 
$Smoke-salmon-on-cream-cheese-with-cape-gooseberry-salad-1-hex: #98A665;
$Smoke-salmon-on-cream-cheese-with-cape-gooseberry-salad-2-hex: #D96704;
$Smoke-salmon-on-cream-cheese-with-cape-gooseberry-salad-3-hex: #BF4904;
$Smoke-salmon-on-cream-cheese-with-cape-gooseberry-salad-4-hex: #8C0303;
$Smoke-salmon-on-cream-cheese-with-cape-gooseberry-salad-5-hex: #0D0D0D;

// brown blue
$Nevada-1-hex: #26070C;
$Nevada-2-hex: #05F2DB;
$Nevada-3-hex: #BF500F;
$Nevada-4-hex: #8C310F;
$Nevada-5-hex: #591711;

//brown orange yellow
$색상-테마-8-1-hex: #F2F2F2;
$색상-테마-8-2-hex: #F2A007;
$색상-테마-8-3-hex: #F28705;
$색상-테마-8-4-hex: #D95407;
$색상-테마-8-5-hex: #732407;
